@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  line-height: 1.5;

  color-scheme: light dark;
  font-synthesis: none;
  background-image: url('./src/assets/login_bg.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-position:center ;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#discordImg {
  max-width: 45px;
}
